<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop|recommender</title>
    <script type="text/JavaScript" src="{{ url_for('static', filename='scripts/cities.js') }}"></script>
</head>
<body>
    <style>
        body{ background-color: #CAD5E2;}
        h1{
    text-align: center;
        }

    </style>
    
    <h1>Crop recommender</h1>
    <form method="post" action="{{url_for('regform')}}">
        <a name="form-module">
            <div class="form-module">
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin: 10px;">
                    <label for="Student">N:</label>
                    <input name="N" type="number" />                
                </div>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin: 10px;">
                    <label for="Student">P:</label>
                    <input name="P" type="number" />                
                </div>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin: 10px;">
                    <label for="Student" >K               :</label>
                    <input name="K" type="number" />                
                </div>
                <div class="form-group">
      <label for="State" style="font-size: 17px "><b>State</b></label>
      <select
        onchange="print_city('state', this.selectedIndex);"
        id="sts"
        name="stt"
        class="form-control"
        style="font-weight: bold; color: black;"
        
        required
      ></select>
      <br />
      <label for="City" style="font-size: 17px"><b>City</b></label>
      <select
        id="state"
        class="form-control"
        name="city"
        style="font-weight: bold; color: black;"
        required
      ></select>
      <script language="javascript">
        print_state("sts");
      </script>
    </div>
<div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin-right: 10px;">
                    <label for="Student">ph               :</label>
                    <input name="ph" type="number" />                
                </div><br>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;margin-right: 40px;">
                    <label for="Student">rainfall       :</label>
                    <input name="rainfall" type="number" />                
                </div><br>
                <button style="margin-left:950px" type="submit">submit</button>
             
            </div>
            </a>
    </form>
</body>
</html>