<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Farm|advisor</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
</head>

<body>
  <div>
    <h1 style="text-align:center">Farm Advisor</h1>
  </div>
  <br>
  <hr><br>
  <div class="images">
      <div class="image-1-div">
        <img src="{{url_for('static', filename='img/crop_recommender.jpg')}}" alt="crop_recommender" srcset=""
          class="img" />
        <a href="{{url_for('data_input')}}">
          <button style="margin: 10px" onclick="{{url_for('data_input')}}">click here</button>
        </a>
      </div>
      <div class="image-1-div">
        <img src="{{url_for('static', filename='img/crop_disease_indentifier.jpg')}}" alt="crop_disease_indentifier" srcset=""
          class="img" />
        <a href="{{url_for('app_data')}}">
          <button style="margin: 10px" onclick="{{url_for('app_data')}}">click here</button>
        </a>
      </div>
    <div class="result"></div>
  </div>
</body>
</html>